<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Info Search">
    <meta name="keywords" content="car, search, information">
    <title>Car Info Search</title>
    <link rel="stylesheet" href="/site.css">
    <script src="/client.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-header">
            <a class="navbar-brand">Car Search</a>
        </div>
        <div class="nav navbar-nav">
            <form id="search-form">
                <label for="idSelect">Select car ID:</label>
                <select id="idSelect"></select>

                <label for="makeSelect">Select car make:</label>
                <select id="makeSelect"></select>

                <label for="modelSelect">Select car model:</label>
                <select id="modelSelect"></select>

                <label for="countrySelect">Select car country:</label>
                <select id="countrySelect"></select>

                <label for="yearSelect">Enter year range:</label>
                <input type="number" id="minYear" placeholder="Int minYear">
                <input type="number" id="maxYear" placeholder="Int maxYear">

                <label for="priceSelect">Enter price range:</label>
                <input type="number" id="minPrice" placeholder="Int minPrice">
                <input type="number" id="maxPrice" placeholder="Int maxPrice">

                <label for="odometerSelect">Enter odometer range:</label>
                <input type="number" id="minOdometer" placeholder="Int minOdometer">
                <input type="number" id="maxOdometer" placeholder="Int maxOdometer">

                <button id="searchBtn" type="button">Search</button>
            </form>
        </div>
    </nav>

    <div id="search-container">
        <header id="result">
            <div class="title">Search Results</div>
            <div id="favorites">
                <button id="favoritesBtn">♥ My Favorites</button>
            </div>
            <div id="statistics">
                <button id="statisticsBtn">Statistics</button>
            </div>
        </header>
        <div class="divider"></div>
        <div id="carInfo">
            {{{carTable}}}
        </div>
    </div>

    <div id="favorites-container" style="display:none;">
        <h2>My Favorites</h2>
        <div id="favorites-list"></div>
        <div id="favorites">
            <button id="backBtn">Back Searchpage</button>
        </div>
        <div id="favoritestatistics">
            <button id="favoritestatisticsBtn">Statistics</button>
        </div>
    </div>

</body>

</html>
